
body{
   background: lightgrey;
}


.main-header .jumbotron{
    background-color: rgb(81, 81, 247);
    color: white;
}

.main-header .header-content{
   
    text-align: center;
    margin-top: 40px;
}


.main-header .jumbotron .search-input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size:30px;padding-left: 35px;
}

.image-container{
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

.carousel-trending-items{
    background-color: rgb(123, 111, 235);
    color: whitesmoke;
    padding: 20px;

}

.search-items{
    background-color: rgb(123, 111, 235);
    color: whitesmoke;
    margin-top: 30px;
    padding: 20px;
}

.img-page{
    margin-top: 50px;
}

.btn-container{
    margin-top: 20px;
    visibility: hidden;
}

.img-btn{
    width: 40%;
    margin: 5px;
}

/* logo */

.logo{
    position: absolute;
    margin-left: -100px;
    margin-top: -130px;
}

@media (max-width: 600px) {
   
    .logo{
       
        margin-left: -70px;
        margin-top: -110px;
    }

.header-content{
   
        margin-top: 100px;;
    
    }
    
}
